:root {
    color-scheme: light dark;
}

body {
    background-color: #fff;
    font-family: sans-serif;
    color: #000;
}

a {
    color: #4493F8;
    font-weight: bold;
}

a:visited {
    color: #b6268d;
}

table {
    border-collapse: collapse;
    border-width: 1px;
    border-color: #000;
    border-style: solid;
}

table td, table th {
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    padding: 5px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    display: block;
    list-style-type: none;
    padding-right: 0.25em;;
    margin: 0;
    float: left;
}
li:not(:first-child)::before {
    content: '| ';
}

nav, main, footer {
    display: block;
    clear: both;
    padding: 1em;
}

div.menu-lang ul {
    float: left;
}

div.menu-lang strong {
    float: left;
    padding-right: 1em;
}

div.menu-pages {
    clear: both;
    padding-top: 2em;
}

table {
    margin-top: 2em;
}

input {
    color: #000;
    background: none;
    font-size: 1em;
}

.github {
    padding: 0 0 2em 0;
}

.version {
    padding: 0 0 2em 0;
    color:#cacccf;
    font-size: 0.8em;
    text-align: right;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #2b2b2b;
        color: #fff;
    }

    table {
        border-color: #fff;
    }

    table td, table th {
        border-color: #fff;
        color: #fff;
    }

    input {
        background-color: #ccc;
        color: #000;
    }
}
