<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layouts/base :: main-fragment(
                                                ~{::title},
                                                ~{:: #main-content}
                                             )}">
<head>
    <title>Home</title>
</head>
<body>
    <main id="main-content">
        <!--/* ################   Default domain: messages    ################ */-->

        <!--/*
            <h1 th:text="#{messages.headline}"/>
        */-->
        <h1 th:text="#{headline}"/>

        <!--/*
            <form>
                <label th:text="#{messages.postcode}"/>
                <input type="text" />
            </form>
        */-->
        <form>
            <label th:text="#{postcode}"/>
            <input type="text" />
        </form>


        <!--/* ################     Domain: payment     ################ */-->

        <h2 th:text="#{payment.headline}"/>
        <p>
            <strong th:text="#{payment.expiry_date}"/>: 2022/11
        </p>
    </main>
</body>
</html>
