<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layouts/base :: main-fragment(
                                                ~{::title},
                                                ~{:: #main-content}
                                             )}">
<head>
    <title th:text="#{seo.title-suffix-translations} + ' - ' + #{seo.title}">Home</title>
</head>
<body>
    <main id="main-content">

        <table>
            <thead>
                <tr>
                    <th>id/code</th>
                    <th>value</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="article : ${translations}">
                    <td th:text="${article.key}"/>
                    <td th:text="${article.value}"/>
                </tr>
            </tbody>
        </table>

    </main>
</body>
</html>
